/* Background inteiro baseado na prioridade */
.note.low {
  background-color: #22c55e; /* Verde */
  color: white;
}

.note.medium {
  background-color: #eab308; /* Amarelo */
  color: white;
}

.note.high {
  background-color: #ef4444; /* Vermelho */
  color: white;
}

/* Corrigir as opções coloridas no select */
#prioritySelect option[value="low"] {
  color: #22c55e;
}
#prioritySelect option[value="medium"] {
  color: #eab308;
}
#prioritySelect option[value="high"] {
  color: #ef4444;
}
